[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
slackclient = "*"
slackeventsapi = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
bpython = "*"
flake8 = "*"

[requires]
python_version = "3"
